version: '3.4'

services:
  catalogDb:
    container_name: catalogDb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=CatalogDb
    restart: always
    ports:
      - "5432:5432"

  basketDb:
    container_name: basketDb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=BasketDb
    restart: always
    ports:
      - "5433:5432"

  distributedCache:
    container_name: distributedCache
    restart: always
    ports:
      - "6379:6379"

  catalog.api:
    container_name: catalog.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Kestrel__Endpoints__HTTP__Url=http://0.0.0.0:80
      - ConnectionStrings__Database=Server=catalogdb;Port=5432;Database=CatalogDb;User Id=postgres;Password=postgres
    depends_on:
      - catalogDb
    ports:
      - "8000:80"

  basket.api:
    container_name: basket.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Kestrel__Endpoints__HTTP__Url=http://0.0.0.0:80
      - ConnectionStrings__Database=Server=basketDb;Port=5432;Database=BasketDb;User Id=postgres;Password=postgres
      - ConnectionStrings__Redis=distributedCache:6379
    depends_on:
      - basketDb
      - distributedCache
    ports:
      - "8001:80"
  
  discount.grpc:
    container_name: discount.grpc
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Kestrel__Endpoints__Http__Url=http://0.0.0.0:80
      - Kestrel__Endpoints__Grpc__Url=http://0.0.0.0:81
      - Kestrel__Endpoints__Grpc__Protocols=Http2
      - ConnectionStrings__Database=Data Source=discountdb
    ports:
      - "8002:80"
      - "9002:81"
